<template>
  <div class="app-layout">
    <vw-navbar></vw-navbar>
    <div class="container">
      <div class="row">
        <div class="col-md-3" v-if="authenticated">
          <vw-sidebar></vw-sidebar>
        </div>
        <div v-bind:class="{ 'col-md-9': authenticated,'col-md-12': !authenticated }">
          <child></child>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import VwSidebar from "./vw-sidebar.vue";
import VwNavbar from "./vw-navbar.vue";

export default {
  name: 'app-layout',
  components: { VwNavbar, VwSidebar },
  computed: mapGetters({
    user: 'authUser',
    authenticated: 'authCheck'
  }),


  methods: {
    logout() {
      this.$store.dispatch('logout')
        .then(() => {
          this.$router.push({ name: 'auth.login' })
        })
    }
  }
}
</script>
<style media="screen">
  body {
    background: #F1F3FA;
    padding-top: 75px;
  }
  .content {
    padding: 20px;
    background: #fff;
    min-height: 460px;
  }
</style>