<template>
  <div id="navbar" v-bind:class="{ login: authenticated }">
    <nav class="navbar navbar-toggleable-md navbar-light mb-4 fixed-top">
      <button class="navbar-toggler navbar-toggler-right" type="button"
        data-toggle="collapse"
        data-target="#navbar-menu"
        aria-controls="navbar"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <router-link :to="{ name: 'home' }" class="navbar-brand">
        MyWork
      </router-link>

      <div class="collapse navbar-collapse" id="navbar-menu">
          <ul class="navbar-nav mr-auto">
          </ul>
          <ul class="navbar-nav">
            <template v-if="authenticated">
              <router-link :to="{ name: 'settings.profile' }" tag="li" class="nav-item">
                <a class="nav-link">{{ user.nama }}</a>
              </router-link>
              <li class="nav-item">
                <a @click.prevent="logout" class="nav-link" href="#">Logout</a>
              </li>
            </template>
            <template v-else>
              <router-link :to="{ name: 'auth.login' }" tag="li" class="nav-item" active-class="active">
                <a class="nav-link">Login</a>
              </router-link>
              <router-link :to="{ name: 'auth.register' }" tag="li" class="nav-item" active-class="active">
                <a class="nav-link">Register</a>
              </router-link>
            </template>
          </ul>
        </div>
    </nav>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
  name: "",
  data: () => ({

  }),

  computed: mapGetters({
    user: 'authUser',
    authenticated: 'authCheck'
  }),


  methods: {
    logout() {
      this.$store.dispatch('logout')
        .then(() => {
          this.$router.push({ name: 'auth.login' })
        })
    }
  }
}
</script>
<style lang="scss" scoped>
  #navbar > .navbar {
    background-color: #27ae60;
    border: none;
  }
  #navbar a {
    color: white;
  }
</style>
