<template>
  <div id="sidebar">
    <div class="sidebar">
      <div class="userpic">
        <div>
          <img :src="user.foto||'https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg'">
          <span class="fa fa-camera fa-2x"></span>
        </div>
      </div>
      <div class="usertitle">
        <div class="usertitle-name">
          {{ user.nama }}
        </div>
        <div class="usertitle-job">
          {{ user.bio||"Your BIO" }}
        </div>
      </div>
      <div class="userbuttons">
        <button type="button" class="btn btn-success btn-sm"><span class="fa fa-envelope"></span></button>
        <button type="button" class="btn btn-danger btn-sm"><span class="fa fa-bell"></span></button>
      </div>
      <div class="usermenu">
        <ul class="nav flex-column">
          <router-link :to="{ name: 'home' }" tag="li" class="nav-item" active-class="active">
            <a href="#" class="nav-link">
              <i class="fa fa-home"></i>
              Home
            </a>
          </router-link>
          <router-link :to="{ name: 'tugas' }" tag="li" class="nav-item" active-class="active">
            <a href="#" class="nav-link">
              <i class="fa fa-check"></i>
              Tugas
            </a>
          </router-link>
          <router-link :to="{ name: 'jadwal-pelajaran' }" tag="li" class="nav-item" active-class="active">
            <a href="#" class="nav-link">
              <i class="fa fa-tasks"></i>
              Jadwal Pelajaran
            </a>
          </router-link>
          <router-link :to="{ name: 'tugas' }" tag="li" class="nav-item" active-class="active">
              <a href="#" class="nav-link">
                <i class="fa fa-flag"></i>
                Help
              </a>
          </router-link>
        </ul>
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
  name: 'home',

  metaInfo: {
    titleTemplate: 'Dashboard | %s'
  },

  data: () => ({

  }),

  computed: mapGetters({
    user: 'authUser',
    authenticated: 'authCheck'
  }),


  methods: {
    logout() {
      this.$store.dispatch('logout')
        .then(() => {
          this.$router.push({ name: 'auth.login' })
        })
    }
  }
}

</script>

<style lang="scss" scoped>

  /* Profile sidebar */
  .sidebar {
    padding: 20px 0 10px 0;
    background: #fff;
  }

  .userpic {
    display: flex;
  }
  .userpic > div {
    float: none;
    margin: 0 auto;
    width: 50%;
    cursor: pointer;
    height: 50%;
    overflow: hidden;
    position: relative;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
  }
  .userpic > div > img{
    width: 100%;
  }
  .userpic:hover .fa-camera {
    bottom:0;
  }

  .fa-camera {
    color:#93a3b5;
    position: absolute;
    bottom: -100%;
    width: 100%;
    text-align: center;
    background-color: white;
    opacity: .8;
    transition: .25s;
    padding: 15px;
  }

  .usertitle {
    text-align: center;
    margin-top: 20px;
  }

  .usertitle-name {
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
  }

  .usertitle-job {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
  }

  .userbuttons {
    text-align: center;
    margin-top: 10px;
  }

  .userbuttons .btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;
  }

  .userbuttons .btn:last-child {
    margin-right: 0px;
  }

  .usermenu {
    margin-top: 30px;
  }

  .usermenu ul li {
    border-bottom: 1px solid #f0f4f7;
  }

  .usermenu ul li:last-child {
    border-bottom: none;
  }

  .usermenu ul li a {
    color: #93a3b5;
    font-size: 14px;
    font-weight: 400;
  }

  .usermenu ul li a i {
    margin-right: 8px;
    font-size: 14px;
  }

  .usermenu ul li a:hover {
    background-color: #fafcfd;
    color: #5b9bd1;
  }

  .usermenu ul li.active {
    border-bottom: none;
  }

  .usermenu ul li.active a {
    color: #5b9bd1;
    background-color: #f6f9fb;
    border-left: 2px solid #5b9bd1;
    margin-left: -2px;
  }
  .nav-link {
    cursor: pointer;
  }
</style>
